<h1>Airlines</h1>
<div class="airline-list">
  @for (airline of airlineList(); track airline.id) {
    <app-airline-list-item
      [airline]="airline"
      (opened)="onAirlineClicked($event)"/>
  } @empty {
    <p>No airlines to show yet.</p>
  }
</div>
<h2>Cargo Airlines ({{ cargoAirlineCount() }})</h2>
<div class="cargo-airline-list">
  @for (cargoAirline of cargoAirlineList(); track cargoAirline.id) {
    <app-airline-list-item
      [airline]="cargoAirline"
      (opened)="onAirlineClicked($event)"/>
  } @empty {
    <p>No cargo airlines to show yet.</p>
  }
</div>
